.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
env
.env
.qodo
__pycache__
image.png
temp_images/
temp_uploads/
*.pdf
*.txt
*.json
*.csv
*.xlsx
*.xls
*.docx
*.doc
*.pptx